*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2{
    text-align: center;
    padding: 10px;
}

table,tr, td{
    border:1px solid black;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

tr , td{
    padding: 20px;
}

.inner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}